<!DOCTYPE html>
<html lang="en" th:object="${task}">
<head>
    <div th:replace="~{fragments/header:: head ('Edit ' + *{title})}"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="~{fragments/header :: menu}"></div>

        <h1 class="text-center">Edit Task</h1>
        
        <form action="#" th:action="@{/tasks/edit}" th:method="put">
            <div class="form-group">
                <input type="hidden" th:field="*{id}">
                <label for="title">Title</label> <br>
                <input id="title" type="text" maxlength="64" class="form-control" th:field="*{title}">
            </div>
            <div class="form-group">
                <label for="description">Description</label> <br>
                <input id="description" type="text" maxlength="1000" class="form-control" th:field="*{description}">
            </div>
            <div class="form-group">
                <label for="start-date">Start Date</label> <br>
                <input id="start-date" type="datetime-local" class="form-control" th:value="${dates.get('startDate')}" name="startDate">
            </div>
            <div class="form-group">
                <label for="end-date">End Date</label> <br>
                <input id="end-date" type="datetime-local" class="form-control" th:value="${dates.get('endDate')}" name="endDate">
            </div>

            <div class="form-group">
                <label for="close-date">Close Date</label> <br>
                <input id="close-date" type="datetime-local" class="form-control" th:value="${dates.get('closeDate') ?: 'None' }" name="closeDate">
            </div>
            <div class="form-group">
                    <label>All day?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{allDay}" id="allDayTrue" value=1>
                        <label class="form-check-label" for="allDayTrue">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{allDay}" id="allDayFalse" value=0>
                        <label class="form-check-label" for="allDayFalse">
                            No
                        </label>
                    </div>
            </div>

            <input class="btn btn-primary mt-3" type="submit">
        </form>
    </div>
</div>
</body>
</html>