<!DOCTYPE html>
<html lang="en" th:object="${task}">
<head>
    <div th:replace="~{fragments/header:: head (*{title})}"></div>
</head>
<body>
    <div class="container">
        <div class="row">
            <div th:replace="~{fragments/header :: menu}"></div>

            <h4 th:text="*{title}" class="text-center"></h4>

            <h5>Description</h5>
            <p th:text="*{description}"></p>

            <h5>Start Date</h5>
            <p th:text="*{{startDate}}"></p>

            <h5>End Date</h5>
            <p th:text="*{{endDate}}"></p>

            <h5>Close Date</h5>
            <p th:text="*{closeDate} ? *{{closeDate}} : 'None'"></p>

            <h5>All day?</h5>
            <p th:text="*{allDay} ? 'Yes' : 'No' "></p>

            <div class="d-flex">
                <form action="#" th:action="@{/tasks/{id}(id=*{id})}" th:method="DELETE" class="me-3">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a th:href="@{/tasks/edit/{id}(id=*{id})}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </div>   
        </div> 
    </div>
</body>
</html>